.flex-form input[type="submit"] {
  background: #48b9d3;
  border: 1px solid #48b9d3;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
  background: #69cbe0;
  border: 1px solid #69cbe0;
}

.flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 351px;
  height: 40px;
  margin-top: 30px;
}

.flex-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  flex-basis: 500px;
}
